<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="/styles/style.css"

  <title></title>
</head>
    <header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="disabled" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="/images/eduflix-logo.png" alt="" width="100" height="30" >
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
              <li><a href="/pricing" class="nav-link px-2 text-white">Programs Offered</a></li>
              <li><a href="/faq" class="nav-link px-2 text-white">FAQs</a></li>
              <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
            </ul>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>
    
            <div class="text-end">
              <a <button href="/login"type="button" class="btn btn-outline-light me-2">Login</button></a>
              <a <button href="/sign-up"button" class="btn btn-warning">Sign Up</button></a>
            </div>
          </div>
        </div>
    </header>
<main class="container">