<%- include("partials/header.ejs") %>




<div class="container py-4">
    
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">About Us</h1>
      <p class="col-md-8 fs-4">Welcome to Eduflix, a non-profit dedicated to breaking barriers and fostering educational equity for students below the poverty line. In a world increasingly connected through technology, we recognize that access to quality education should not be limited by socioeconomic circumstances. Our mission is to bridge the gap by leveraging the power of the internet to deliver high-quality educational opportunities to students facing economic challenges.
      </p>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>Our Goal</h2>
        <p>In the pursuit of a brighter future for every child, we believe that education is a transformative force capable of unlocking untapped potential. Through our innovative approach, we harness the reach of the internet to provide online classes that empower students to learn, grow, and thrive academically. We strive to create a virtual learning environment that transcends economic disparities, ensuring that no child is left behind due to financial constraints.
      </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Get Aboard</h2>
        <p>Join us on our mission to transform lives through education. Together, we can empower the next generation, providing them with the tools they need to overcome adversity and reach their full potential. With your support, we can build a world where every child has equal access to quality education, regardless of their economic circumstances. Together, let's make education a beacon of hope and opportunity for all.</p>            </div>
    </div>
  </div>
</div>

  <%- include("partials/footer.ejs") %>