<%- include("partials/header.ejs") %>


<br><br>
<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Frequently Asked Questions</h1>
    <br>
    <ul>
      <li><h3>Why Choose us</h3></li>
      <ul><li><h4>We are the only edtech that provides students with access to education at the minimal cost of free.
      </h4></li></ul><br>
      <li><h3>How are the volunteers assigned to the students?
      </h3></li>
      <ul><li><h4>The volunteers are assigned according to the students' ability to learn and grasp a grip on new topics.</h4></li></ul><br>
      <li><h3>How many days are the online sessions conducted in a week?
      </h3></li>
      <ul><li><h4>
        The classes are held 5 days a week ie. Monday to Friday at suitable timings plus we provide extra classes on weekends for our premium users.
        </h4></li></ul><br>
      <li><h3>How and where will the online sessions be held?
      </h3></li>
      <ul><li><h4>
        The sessions will be held on the Free-to-use Google Meet website/app for ease of access.</h4></li></ul>


